[submodule "DMX4Live"]
	path = code/DMX4Live
	url = https://github.com/AdrianArtacho/DMX4Live.git
[submodule "DMX-pd"]
	path = code/DMX-pd
url=https://github.com/AdrianArtacho/DMX-pd.git
[submodule "cc2osc"]
	path = code/cc2osc
url=https://github.com/AdrianArtacho/cc2osc.git
[submodule "PERDIX"]
	path = code/PERDIX
url=https://github.com/AdrianArtacho/PERDIX.git
[submodule "qlc-files"]
	path = profiles/qlc-files
	url = https://github.com/AdrianArtacho/qlc-files.git
[submodule "workshop"]
	path = workshop
	url = https://github.com/AdrianArtacho/DMXworkshop.git
[submodule "tools"]
	path = tools
	url = https://github.com/AdrianArtacho/git_tools.git
[submodule "profiles/DMX-WLED8"]
	path = profiles/DMX-WLED8
	url = https://github.com/AdrianArtacho/DMX-WLED8.git
[submodule "profiles/DMX-MS11"]
	path = profiles/DMX-MS11
	url = https://github.com/AdrianArtacho/DMX-MS11.git
