[submodule "DMX4Live"]
	path = DMX4Live
	url = https://github.com/AdrianArtacho/DMX4Live.git
[submodule "DMX-pd"]
	path = DMX-pd
url=https://github.com/AdrianArtacho/DMX-pd.git
[submodule "cc2osc"]
	path = cc2osc
url=https://github.com/AdrianArtacho/cc2osc.git
[submodule "PERDIX"]
	path = PERDIX
url=https://github.com/AdrianArtacho/PERDIX.git
[submodule "qlc-files"]
	path = qlc-files
	url = https://github.com/AdrianArtacho/qlc-files.git
